### Import & Load Data

In [1]:
import pandas as pd
df = pd.read_csv ('telco_customers_churn.csv')

In [2]:
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

### Data Overview

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [4]:
df.describe(include='all')

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
count,7043,7043.0,7043,7043,7043,7043.000000,7043,7043.000000,7043.000000,7043,...,7043,7043,7043,7043.000000,7043,7043,7043.000000,7043.000000,7043.000000,1869
unique,7043,NaN,1,1,1129,NaN,1652,NaN,NaN,2,...,3,2,4,NaN,6531,2,NaN,NaN,NaN,20
top,3186-AJIEK,NaN,United States,California,Los Angeles,NaN,"34.02381, -118.156582",NaN,NaN,Male,...,Month-to-month,Yes,Electronic check,NaN,,No,NaN,NaN,NaN,Attitude of support person
freq,1,NaN,7043,7043,305,NaN,5,NaN,NaN,3555,...,3875,4171,2365,NaN,11,5174,NaN,NaN,NaN,192
mean,NaN,1.0,NaN,NaN,NaN,93521.964646,NaN,36.282441,-119.798880,NaN,...,NaN,NaN,NaN,64.761692,NaN,NaN,0.265370,58.699418,4400.295755,NaN
std,NaN,0.0,NaN,NaN,NaN,1865.794555,NaN,2.455723,2.157889,NaN,...,NaN,NaN,NaN,30.090047,NaN,NaN,0.441561,21.525131,1183.057152,NaN
min,NaN,1.0,NaN,NaN,NaN,90001.000000,NaN,32.555828,-124.301372,NaN,...,NaN,NaN,NaN,18.250000,NaN,NaN,0.000000,5.000000,2003.000000,NaN
25%,NaN,1.0,NaN,NaN,NaN,92102.000000,NaN,34.030915,-121.815412,NaN,...,NaN,NaN,NaN,35.500000,NaN,NaN,0.000000,40.000000,3469.000000,NaN
50%,NaN,1.0,NaN,NaN,NaN,93552.000000,NaN,36.391777,-119.730885,NaN,...,NaN,NaN,NaN,70.350000,NaN,NaN,0.000000,61.000000,4527.000000,NaN
75%,NaN,1.0,NaN,NaN,NaN,95351.000000,NaN,38.224869,-118.043237,NaN,...,NaN,NaN,NaN,89.850000,NaN,NaN,1.000000,75.000000,5380.500000,NaN
max,NaN,1.0,NaN,NaN,NaN,96161.000000,NaN,41.962127,-114.192901,NaN,...,NaN,NaN,NaN,118.750000,NaN,NaN,1.000000,100.000000,6500.000000,NaN

### Missing Values

In [5]:
df.isnull().sum()

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges           0
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

### Fix Data Types & Missing Values

In [6]:
df['Total Charges'] = pd.to_numeric(df['Total Charges'], errors='coerce')

In [7]:
df[['Total Charges']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Total Charges  7032 non-null   float64
dtypes: float64(1)
memory usage: 55.2 KB

In [8]:
df['Total Charges'] = df['Total Charges'].fillna(df['Total Charges'].median())

In [9]:
df['Churn Reason'] = df['Churn Reason'].fillna('Not Churned')

In [10]:
df.isnull().sum()

CustomerID           0
Count                0
Country              0
State                0
City                 0
Zip Code             0
Lat Long             0
Latitude             0
Longitude            0
Gender               0
Senior Citizen       0
Partner              0
Dependents           0
Tenure Months        0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn Label          0
Churn Value          0
Churn Score          0
CLTV                 0
Churn Reason         0
dtype: int64

### Normalize Column Names

In [11]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ", "_")

In [12]:
df.columns

Index(['customerid', 'count', 'country', 'state', 'city', 'zip_code',
       'lat_long', 'latitude', 'longitude', 'gender', 'senior_citizen',
       'partner', 'dependents', 'tenure_months', 'phone_service',
       'multiple_lines', 'internet_service', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'contract', 'paperless_billing', 'payment_method',
       'monthly_charges', 'total_charges', 'churn_label', 'churn_value',
       'churn_score', 'cltv', 'churn_reason'],
      dtype='object')

### Feature Engineering

In [13]:
df['tenure_group'] = pd.cut(
    df['tenure_months'],
    bins=[0, 12, 24, 48, 60, 100],
    labels=['0-1y', '1-2y', '2-4y', '4-5y', '5y+']
)

In [14]:
df['is_high_value'] = df['cltv'] > df['cltv'].quantile(0.75)

In [15]:
df['is_auto_pay'] = df['payment_method'].str.contains('automatic')

In [16]:
df[['tenure_months','tenure_group','cltv','is_high_value','payment_method','is_auto_pay']].head(10)

,tenure_months,tenure_group,cltv,is_high_value,payment_method,is_auto_pay
0,2,0-1y,3239,False,Mailed check,False
1,2,0-1y,2701,False,Electronic check,False
2,8,0-1y,5372,False,Electronic check,False
3,28,2-4y,5003,False,Electronic check,False
4,49,4-5y,5340,False,Bank transfer (automatic),True
5,10,0-1y,5925,True,Credit card (automatic),True
6,1,0-1y,5433,True,Electronic check,False
7,1,0-1y,4832,False,Mailed check,False
8,47,2-4y,5789,True,Electronic check,False
9,1,0-1y,2915,False,Electronic check,False

### Check Redundant Columns

In [17]:
(df['churn_label'] == (df['churn_value'] == 1).map({True:'Yes', False:'No'})).all()

np.True_

In [18]:
df = df.drop(columns=['churn_label'])

### Final Check

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         7043 non-null   object
 1   count              7043 non-null   int64
 2   country            7043 non-null   object
 3   state              7043 non-null   object
 4   city               7043 non-null   object
 5   zip_code           7043 non-null   int64
 6   lat_long           7043 non-null   object
 7   latitude           7043 non-null   float64
 8   longitude          7043 non-null   float64
 9   gender             7043 non-null   object
 10  senior_citizen     7043 non-null   object
 11  partner            7043 non-null   object
 12  dependents         7043 non-null   object
 13  tenure_months      7043 non-null   int64
 14  phone_service      7043 non-null   object
 15  multiple_lines     7043 non-null   object
 16  internet_service   7043 non-null   object
 17  online_security    7043 non-null   object
 18  online_backup      7043 non-null   object
 19  device_protection  7043 non-null   object
 20  tech_support       7043 non-null   object
 21  streaming_tv       7043 non-null   object
 22  streaming_movies   7043 non-null   object
 23  contract           7043 non-null   object
 24  paperless_billing  7043 non-null   object
 25  payment_method     7043 non-null   object
 26  monthly_charges    7043 non-null   float64
 27  total_charges      7043 non-null   float64
 28  churn_value        7043 non-null   int64
 29  churn_score        7043 non-null   int64
 30  cltv               7043 non-null   int64
 31  churn_reason       7043 non-null   object
 32  tenure_group       7032 non-null   category
 33  is_high_value      7043 non-null   bool
 34  is_auto_pay        7043 non-null   bool
dtypes: bool(2), category(1), float64(4), int64(6), object(22)
memory usage: 1.7+ MB

In [20]:
df.head()

,customerid,count,country,state,city,zip_code,lat_long,latitude,longitude,gender,...,payment_method,monthly_charges,total_charges,churn_value,churn_score,cltv,churn_reason,tenure_group,is_high_value,is_auto_pay
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Mailed check,53.85,108.15,1,86,3239,Competitor made better offer,0-1y,False,False
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Electronic check,70.70,151.65,1,67,2701,Moved,0-1y,False,False
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Electronic check,99.65,820.50,1,86,5372,Moved,0-1y,False,False
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Electronic check,104.80,3046.05,1,84,5003,Moved,2-4y,False,False
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Bank transfer (automatic),103.70,5036.30,1,89,5340,Competitor had better devices,4-5y,False,True

In [21]:
df.to_csv("telco_customers_churn_cleaned.csv", index=False)

### Connect to PostgreSQL

In [23]:
!pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\makruf al\appdata\local\programs\python\python313\lib\site-packages (2.0.45)
Requirement already satisfied: psycopg2-binary in c:\users\makruf al\appdata\local\programs\python\python313\lib\site-packages (2.9.11)
Requirement already satisfied: greenlet>=1 in c:\users\makruf al\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\makruf al\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.13.2)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
from sqlalchemy import create_engine

In [25]:
engine = create_engine(
    "postgresql://postgres:alkar354@127.0.0.1:5432/telco_db"
)

In [26]:
df.to_sql("telco_churn", engine, if_exists="replace", index=False)

505

In [27]:
import pandas as pd

pd.read_sql("SELECT COUNT(*) FROM telco_churn", engine)

   count
0   7043

In [28]:
pd.read_sql("SELECT * FROM telco_churn LIMIT 5", engine)

,customerid,count,country,state,city,zip_code,lat_long,latitude,longitude,gender,...,payment_method,monthly_charges,total_charges,churn_value,churn_score,cltv,churn_reason,tenure_group,is_high_value,is_auto_pay
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Mailed check,53.85,108.15,1,86,3239,Competitor made better offer,0-1y,False,False
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Electronic check,70.70,151.65,1,67,2701,Moved,0-1y,False,False
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Electronic check,99.65,820.50,1,86,5372,Moved,0-1y,False,False
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Electronic check,104.80,3046.05,1,84,5003,Moved,2-4y,False,False
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Bank transfer (automatic),103.70,5036.30,1,89,5340,Competitor had better devices,4-5y,False,True